{
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "simple-import-sort"],
	"root": true
	// "rules": {
	// 	"@next/next/no-document-import-in-page": "off"
	// }
}
